body {
    background-color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font: 17px;
    }
    
h1 {
        display: flex;
        justify-content: center;
        font: 75px;
        color:azure;
    }
    
.weekdays {
        display: flex;
        justify-content:space-between;
        align-items: center;
    }